dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
dist-newstyle/cache/compiler
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
.vscode/phoityne.log
